{% include "AdminBundle:Default:menu.html.twig" %}
{% block contenu %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Gestion de Menu <a class="btn btn-sm btn-primary" href='{{path('admin_menu2')}}'>
                    Retour
                </a>
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Add Menu</li>
            </ol>
        </section>


        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <div class="modal-body">
                            <form id="add-form"  method='POST' action='{{path('valide_ajout_menu2')}}' data-parsley-validate class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modal-name"> Menu  <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text"  name="menu" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modal-name"> Url  <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text"  name="url" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <!-- <div class="ln_solid"></div>-->


                                <div class="modal-footer">

                                    <button type="submit" class="btn btn-success btn-add"><i class="fa fa-plus"></i>   Valider  </button>
                                </div>
                            </form>

                        </div>

                    </div>

                    <!-- /.box-body -->
                </div>


                <!-- ./col -->
            </div>
            <!-- /.row -->

            <!-- /.row (main row) -->

        </section>

    </div>
{% endblock %}

{% include "AdminBundle:Default:footer.html.twig" %}